.eyes {
	position: relative;
	top: 6px;
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 4px;
	width: 48%;
}

.eyes:before,
.eyes:after {
	content: '';
	height: 4px;
	width: 4px;
	background: var(--c-hiContrast);
	border-radius: 50%;
}

.mouth {
	position: relative;
	top: -2px;
	width: 46%;
	height: 3px;
	border-radius: 1rem;
	background: var(--c-hiContrast);
}

.face {
	margin: 0;
	display: grid;
	place-items: center;
	height: 2.75rem;
	width: 2.75rem;
	border-radius: 50%;
	border: 2px solid var(--c-hiContrast);
}

.face:hover {
	background: red;
}

.sad svg path {
	d: path('M3,5 Q 5,3 7,5');
}

.happy svg path {
	d: path('M3,4 Q 5,6 7,4');
}

.svg path {
	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	transition: d 0.33s var(--move);
}
