.nav {
  display: grid;
  place-items: center;
  padding: 1.6rem 0.8rem;
}

.nav > ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  gap: 2.4rem;
}

.nav li {
  position: relative;
}

.nav li > a {
  --px: 0.6rem;
  position: relative;
  padding: 0 var(--px);
  font-size: 1.8rem;
  font-weight: 100;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.hoverEffect {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  pointer-events: none;
  background: rgba(254, 254, 254, 1);
  overflow: hidden;
  transition: width 0.2s linear;
}

.hoverEffect:after {
  position: absolute;
  top: 0;
  left: calc(var(--px));
  z-index: 1;
  content: attr(data-text) " ";
  color: var(--c-base);
  white-space: nowrap;
  overflow: hidden;
}

/* not happy with this, have to find a way to handle this with transforms or something that avoid repaints*/
.nav a:hover .hoverEffect {
  width: 100%;
}
