@font-face {
	font-family: 'ailerons';
	src: url('/fonts/ailerons/ailerons-typeface-webfont.woff2') format('woff2'),
		url('/fonts/ailerons/ailerons-typeface-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
