*::where(:not(html):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*:, *::before, *::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

:root {
  --h: 203;
  --s: 24%;
  --l: 32%;
  --c-base: hsl(var(--h), var(--s), var(--l));
  --c-t-base: hsl(100%, 100%, 0%);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --c-t-base: hsl(100%, 100%, 100%);
  }
}

html {
  /* using 10 because its make easier to use REM as 1rem === 10px */
  font-size: 10px;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  background: var(--c-base);
  color: var(--c-t-base);
  font-family: "Poppins", sans-serif;
}
